body{
	background-image: url("../img/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}
#container{
	width: 500px;
	margin: auto;
	margin-top: 50px;
	border-radius: 8px;
	background: gray;
	font-family: Arial, Helvetica, sans-serif;
}
#content{

	background: lightgray ;
	min-height: 450px;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid green;
}
.input-48{
	width: 70%;
	height: 50px;
	float: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	border: 1px solid black;
}

hr{
	float: center;
	width: 70%;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	
}
p{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;

}
.btn-enviar{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	width: 30%;
	height: 50px;
	background: #399EFC;
	border: 0px;
	font-size: 17px;
}
.btn-enviar:hover{
	background-color: #25BFD5;
}
.a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
li{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	width: 150px;
	height: 50px;
	background: #399EFC;
	border: 0px;
	text-align: center;
	text-decoration: none;
	list-style: none;
}
li:hover{
	background-color: #25BFD5;
}
.boton{
	background-color: #026600;
	border: 0px;
	width: 40%;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: white;
}
.boton:hover{
	background: #31D12E;
}

.boton1{
	background-color: #026600;
	border: 0px;
	width: 250px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: white;
}
.boton1:hover{
	background: #31D12E;
}